<div class="jumbotron">
    <h1>Lista tanques</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Id</th>
            <th>Calidad</th>
            <th>Peso</th>
            <th>Fecha retorno</th>
            <th>Etiqueta</th>
        </tr>
    </thead>
    <tbody>
        <tr (click)="tanqueSeleccionado = tanque" *ngFor="let tanque of tanques" routerLink="/tanques/{{tanque.idTanque}}">
            <td>
                <img style="width: 10em;" [src]="tanque.foto" class="image">
            </td>
            <td>{{tanque.idTanque}}</td>
            <td>{{tanque.calidad}}</td>
            <td>{{tanque.peso}}</td>
            <td>{{tanque.fechaEsperadaRetorno}}</td>
            <td>{{tanque.idEtiqueta}}</td>
        </tr>
    </tbody>
</table>

<pre>
    {{ tanqueSeleccionado | json }}
</pre>