<div class="jumbotron">
    <h1>Lista tanques</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Id</th>
            <th>Calidad</th>
            <th>Peso</th>
            <th>Fecha retorno</th>
            <th>Etiqueta</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tanque of tanques" routerLink="/tanques/{{tanque.idTanque}}">
            <td>{{tanque.foto}}</td>
            <td>{{tanque.idTanque}}</td>
            <td>{{tanque.calidad}}</td>
            <td>{{tanque.peso}}</td>
            <td>{{tanque.fechaEsperadaRetorno}}</td>
            <td>{{tanque.idEtiqueta}}</td>
        </tr>
    </tbody>
</table>


{{tanques[0] | json }}